.randomMemberSelectionContainer {
  margin: auto;
  padding: 10px;
  margin-bottom: 20px;
  .formContainer {
    gap: 30px;
    margin: 10px auto;
  }
  .multiSelectDropdown {
    width: 100%;
    margin: 10px auto;
  }
}
